@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --animate-fadeIn: fadeIn 0.3s ease-in-out forwards;
    --animate-fadeOut: fadeOut 0.3s ease-in-out forwards;
    --animate-fadeInShift: fadeInShift 0.3s ease-in-out forwards;
    --animate-fadeOutShift: fadeOutShift 0.3s ease-in-out forwards;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes fadeInShift {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeOutShift {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-10px);
        }
    }
}

/* Light Theme Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #e4e4e7;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #a1a1aa;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #71717a;
}

/* Dark Theme Scrollbar */
.dark ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.dark ::-webkit-scrollbar-track {
    background: #27272a;
    border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
    background: #52525b;
    border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #71717a;
}
